<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siaga Covid 19</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="icon" href="../static/logo-tripadvisor.png" type="image/x-icon">
</head>
<body>  
    <div class="grid grid-cols-1 sm:grid-cols-2 dark:bg-gray-900 w-screen h-screen">
        <div class="flex p-6">
            <div id="left" class="mx-auto my-auto justify-center items-center">
                <img src="../static/watering-can.png" class="max-w-[64px] max-h-[64px]" alt="logo">
                <h1 class="text-2xl md:text-4xl font-bold font-sans mt-6 md:mt-8 dark:text-white">Laporkan Terindikasi COV-19</h1>
                <p class="text-base font-sans mt-2 md:mt-3 dark:text-white">Buat laporan indikasi terkena covid-19</p>

                <!-- FORM GOES HERE -->
                <form action="{{ url_for('submit') }}" method="post" class="x-w-md mt-4 md:mt-8" >
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="text" inputmode="numeric" minlength="16" max="16" name="nik_pelapor" id="nik_pelapor" maxlength="16" class="dark:text-white block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                        <label for="nik_pelapor" class="peer-focus:font-medium absolute font-sans text-sm text-gray-500 dark:text-gray-200 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Masukkan NIK Pelapor</label>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="text" name="nama_pelapor" id="nama_pelapor" class="dark:text-white block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                        <label for="nama_pelapor" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-200 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nama Pelapor</label>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="text" name="nama_terlapor" id="nama_terlapor" class="dark:text-white block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                        <label for="nama_terlapor" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-200 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nama Terlapor</label>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="text" name="alamat_terlapor" id="alamat_terlapor" class="dark:text-white block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                        <label for="alamat_terlapor" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-200 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Alamat Terlapor</label>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="text" name="gejala" id="gejala" class="dark:text-white block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                        <label for="gejala" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-200 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Gejala yang dirasakan</label>
                    </div>
                    <button type="submit" class="text-white dark:text-white bg-[#065AD8] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                    <p class="text-sm text-center mt-4 sm:mt-6 dark:text-white">Sudah mengajukan? <span class="hover:text-[#1265E2] text-[#065AD8] dark:text-white underline"><a href="{{ url_for('pengaduan') }}">Lihat pengajuan</a></span></p>
                </form>
            </div>
        </div>
        <div class="bg-[#065AD8] flex">
            <div id="right" class="mx-auto my-auto justify-center items-center">
                <h3 class="text-2xl text-white font-sans font-bold text-center">Laporan Pengaduan SARS-COV19</h3>
                <p class="text-lg text-white text-center"><a href="/how-it-works">About creator</a></p>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</body>
</html>